{% extends './common/base.html' %}
{%  load static %}

{%  block content %}


    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="card-group">
                <div class="card">
                    <div class="card-body" style="background: rgb(63,105,110);">
                        <h4 class="card-title">1st</h4>
                        <p class="card-text">28th M1 of Web Dev</p><button class="btn btn-primary" type="button">Button</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="background: rgb(63,105,110);">
                        <h4 class="card-title">2nd</h4>
                        <p class="card-text">29th M1 of Cloud</p><button class="btn btn-primary" type="button">Button</button>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" style="background: rgb(63,105,110);">
                        <h4 class="card-title">3rd</h4>
                        <p class="card-text"> AI M1 tbd</p><button class="btn btn-primary" type="button">Button</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}